.about {
  margin: 10rem 0;
}
.about__img {
  max-height: 318px;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.about__title {
  font-size: 3.5rem;
  color: var(--text-category);
  font-weight: 600;
}
.about__desc {
  padding: 40px 0;
  font-size: 1.6rem;
  color: var(--text-desc);
  font-weight: 500;
}

.about__list-num {
  font-size: 2.4rem;

  color: var(--text-title);
  font-weight: 600;
}
.about__list-text {
  font-size: 1.4rem;
  color: var(--text-desc);
  font-weight: 500;
}

.about__item {
  border-left: 1px solid #eee;
}

.about__item:first-child {
  border: none;
}

/* <!-- comment --> */
.comment {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0 80px;
}

.comment__item {
  padding: 48px 0px 0px 140px;
}
.comment__img {
  flex: 1;
}
.comment__img div:first-child {
  border-radius: 50%;
}
.comment__img-avt {
  border-radius: 50%;
  min-width: 260px;
  max-height: 260px;
  object-fit: cover;
  object-position: center;
  /* flex: 1; */
}
.comment__content {
  flex: 3;
  margin-left: 50px;
}
.comment__icon i {
  color: #ff6363;
  font-size: 3.5rem;
}

.comment__desc {
  font-size: 1.9rem;
  color: var(--text-desc);
  font-weight: 400;
  padding: 24px 0;
}
.comment__name span:first-child {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--main-color);
  margin-right: 6px;
}
.comment__name span:last-child {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-desc);
}
.comment__thumb-left {
  z-index: -1;
  top: -50px;
  left: -130px;
}
.comment__thumb-right {
  z-index: -1;
  bottom: -140px;
  right: -60px;
}
.comment__thumb-2left {
  top: 0;
  left: -2%;
}
.comment__thumb-2right {
  bottom: 0;
  right: -3%;
}

/* <!-- why-choose --> */

.choose {
  padding: 100px 0;
}
.choose__title {
  padding: 0 200px;
  text-align: center;
  font-size: 3.8rem;
  color: var(--text-category);
  font-weight: 600;
  margin-bottom: 50px;
}

.choose__item {
  display: flex;
  margin: 25px 15px;
  cursor: default;
}

.choose__item:hover .choose__icon i {
  color: var(--white-color);
  background-color: var(--main-color);
}
.choose__icon i {
  width: 75px;
  height: 75px;
  font-size: 30px;
  line-height: 75px;
  border-radius: 50%;
  text-align: center;
  color: var(--main-color);
  background-color: var(--white-color);
  text-shadow: var(--primary-tshadow);
  box-shadow: var(--primary-bshadow);
  transition: all linear 0.4s;
  margin-right: 22px;
}

.choose__text {
  padding-right: 30px;
}

.choose__text > h5 {
  font-size: 2rem;
  color: var(--text-title);
  font-weight: 600;
}
.choose__text > p {
  font-size: 1.5rem;
  color: var(--text-desc);
  font-weight: 500;
}

/* <!-- subscribe --> */
.subsc {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
  position: relative;
}

.subsc::after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    to right,
    rgba(6, 23, 56, 0.8),
    rgba(17, 151, 68, 0.8)
  );
}
.subsc__input input {
  background-color: var(--white-color);
  font-size: 1.3rem;
  padding: 0 16px;
  height: 5rem;
  border: none;
  border-radius: 5px;
  width: 100%;
}
.subsc__input-btn {
  position: absolute;
  top: 6%;
  right: 3px;
}
.subsc__btn {
  padding: 1.4rem 1.6rem;
  font-size: 1.4rem;
  border-radius: 5px;
}
.subsc__btn i {
  font-size: 1.4rem;
}

.subsc__title {
  font-size: 3.5rem;
  color: var(--white-color);
  font-weight: 600;
  text-shadow: var(--primary-tshadow);
}

.subsc__desc {
  font-size: 1.6rem;
  color: var(--white-color);
  text-shadow: var(--primary-tshadow);
}
