/* detail left */
.detail__main {
  margin: 10rem 0 10rem;
}
.details__content {
  padding: 3.5rem;
  border-radius: 0.8rem;
  background: var(--white-color);
}

.details__name {
  font-size: 26px;
  line-height: 34px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.details__name a {
  color: var(--text-category);
  transition: all linear 0.3s;
  font-weight: 600;
}

.details__name a:hover {
  color: var(--main-color);
}

.details__meta {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--text-title);
}

.details__meta p {
  font-size: 1.2rem;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 1.2rem;
}

.details__meta span,
.details__meta a {
  margin-left: 5px;
  color: var(--text-title);
}

.details__meta a:hover {
  text-decoration: underline;
  color: var(--main-color);
}

.details__rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
}

.details__rating i {
  font-size: 1.4rem;
  margin-right: 3px;
  color: #d3d3d3;
}
.details__rating a {
  font-size: 1.4rem;
  margin-right: 3px;
  color: var(--text-desc);
  font-weight: 500;
}

.details__rating a {
  margin-left: 8px;
  white-space: nowrap;
  text-transform: capitalize;
  transition: all linear 0.3s;
}
.details__rating a:hover {
  color: var(--main-color);
  text-decoration: underline;
}

.details__rating .active {
  color: #ffa900;
}

.details__price {
  margin-bottom: 20px;
}

.details__price del {
  color: var(--red-color);
  margin-right: 1.6rem;
}

.details__price span {
  color: var(--main-color);
  white-space: nowrap;
}

.details__price span small {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: capitalize;
}

.details__desc {
  margin-bottom: 2.5rem;
  font-size: 1.4rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 11;
  overflow: hidden;
}

.details__list-group {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 2.5rem;
}

.details__list-group:last-child {
  margin-bottom: 0px;
}

.details__list-title {
  font-weight: 600;
  font-size: 1.4rem;
  margin-right: 1.5rem;
  color: var(--text-category);
  text-transform: capitalize;
}

.details__tag-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details__tag-list li {
  margin-right: 8px;
}

.details__tag-list li a {
  font-size: 1.4rem;
  line-height: 1.2rem;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  color: var(--text-title);
  background-color: #f5f5f5;
  transition: all linear 0.3s;
}

.details__tag-list li a:hover {
  color: var(--white-color);
  background: var(--main-color);
}

.details__share-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.details__tag-list,
.details__share-list {
  margin-bottom: 0;
}
.details__share-list li {
  margin-left: 8px;
}

.details__share-list a {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.6rem;
  line-height: 3.5rem;
  border-radius: 50%;
  text-align: center;
  color: var(--text-title);
  background-color: #f5f5f5;
  transition: all linear 0.3s;
}

.details__share-list li a:hover {
  color: var(--white-color);
  background: var(--main-color);
}

.details__add-group {
  margin: 4.5rem 0px 1.5rem;
}

.details__add-group .product-add,
.details__add-group .action-input {
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--white-color);
  background: var(--main-color);
  text-transform: uppercase;
  border-radius: 0.8rem;
  border: 1px solid transparent;
  transition: all linear 0.2s;
}

.product-add:hover {
  color: var(--main-color);
  background-color: var(--white-color);
  border: 1px solid var(--main-color);
}

.details__action-group {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  position: relative;
}

.details__action-group a {
  padding: 1rem 0px;
  border-radius: 0.8rem;
  color: var(--text-title);
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all linear 0.3s;
}

.details__action-group a:hover {
  color: var(--main-color);
}

.details__action-group i {
  font-size: 1.6rem;
  margin-right: 8px;
}

.details__action-group span {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 500;
}

/*  */
.detail__priview-item {
  max-height: 57.8rem;
}
.detail__priview-item img {
  width: 100%;
  padding: 3rem;
}

.detail__priview {
  /* background-color: #f7f7f7; */
  border-radius: 0.8rem;
  height: 55.5rem;
  width: 55.5rem;
  width: 100%;
  border: 1px solid #f5f5f5;
  margin-bottom: 3.2rem;
}

.detail__thumb-item {
  margin: 0 1rem;
  /* background-color: #f7f7f7; */
  border: 1px solid #f5f5f5;
  display: grid;
  place-content: center;
  border-radius: 0.8rem;
  overflow: hidden;
  transition: all 0.3s linear;
}
.detail__thumb-item:hover {
  cursor: pointer;
  opacity: 0.8;
}
.detail__thumb-item img {
  padding: 1rem;
  height: 10rem;
}
.detail__thumb-item.active {
  border: 1px solid var(--main-color);
}

/* inner-section */

.inner__main {
  padding: 20px 30px 27px;
  border: 1px solid #ededed;
  border-radius: 0.8rem;
}
.inner__main .nav {
  border-bottom: 1px solid #ededed;
  padding-bottom: 2.4rem;
  justify-content: center;
}
.inner__main .nav-item {
  margin-right: 2rem;
}

.inner__main .nav-link {
  color: var(--text-category);
  font-size: 1.6rem;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 2rem;
  transition: all linear 0.3s;
  box-shadow: var(--primary-bshadow);
}
.inner__main .nav-link.active {
  color: var(--white-color);
  background-color: var(--main-color);
}

/* tab desc */

.tab__desc {
  padding: 4rem;
  font-size: 1.6rem;
}

/* tab đánh giá */

.tab__review {
  padding: 4rem;
}
.tab__review-main:first-child {
  padding-top: 0;
}
.tab__review-main:last-child {
  border: none;
}
.tab__review-main {
  border-bottom: 1px dotted #bdbaba;
  padding: 5rem 0;
}
.review__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review__name {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-category);
  margin-bottom: 0;
  margin-right: 3.2rem;
}

.review__date {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-title);
}
.review__date i {
  margin-right: 0.2rem;
}

.review__rating {
  margin: 1.6rem 0;
}

.review__cmt {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-title);
  margin-bottom: 3rem;
}
.review__reply form {
  display: flex;
  align-items: self-start;
}
.review__reply-box {
  width: 88%;
}
.review__reply-input {
  height: 4.8rem;
  padding: 0.7rem 1.8rem;
  border-radius: 0.8rem;
  background: var(--white-color);
  font-size: 1.4rem;
  color: var(--text-category);
  font-weight: 500;
}
.review__reply-input:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 0 0.25rem rgba(129, 196, 8, 0.25);
}

.review__reply-btn {
  height: 4.8rem;
  background-color: var(--main-color);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 2.4rem;
  color: var(--white-color);
  border-radius: 0.8rem;
  margin-left: 2rem;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.review__reply-btn:hover {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  background-color: var(--white-color);
}

/* comment form */
.comment__form {
  margin-top: 5rem;
}

.comment__form-title {
  font-size: 2.4rem;
  color: var(--text-category);
  font-weight: 600;
  text-align: left;
  margin-bottom: 3rem;
}

/* rating form */

.comment__form-rating .rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 0.3rem;
  --stroke: #666;
  --fill: #ffc73a;
}

.comment__form-rating .rating input {
  appearance: unset;
}

.comment__form-rating .rating label {
  cursor: pointer;
}

.comment__form-rating .rating svg {
  width: 4.5rem;
  height: 4.5rem;
  overflow: visible;
  fill: transparent;
  stroke: var(--stroke);
  stroke-linejoin: bevel;
  stroke-dasharray: 12;
  animation: idle 4s linear infinite;
  transition: stroke 0.2s, fill 0.5s;
}

@keyframes idle {
  from {
    stroke-dashoffset: 24;
  }
}

.comment__form-rating .rating label:hover svg {
  stroke: var(--fill);
}

.comment__form-rating .rating input:checked ~ label svg {
  transition: 0s;
  animation: idle 4s linear infinite, yippee 0.75s backwards;
  fill: var(--fill);
  stroke: var(--fill);
  stroke-opacity: 0;
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-width: 8px;
}

@keyframes yippee {
  0% {
    transform: scale(1);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30% {
    transform: scale(0);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }

  60% {
    transform: scale(1.2);
    fill: var(--fill);
  }
}

.comment__form-desc {
  margin: 5rem 0 2.5rem;
}
.comment__form-desc-textarea {
  height: 15rem;
}
.comment__form-name-input:focus,
.comment__form-email-input:focus,
.comment__form-desc-textarea:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 0 0.25rem rgba(129, 196, 8, 0.25);
  background: #f5f5f5;
}
.comment__form-name-input,
.comment__form-desc-textarea,
.comment__form-email-input {
  padding: 1.2rem 2rem;
  font-size: 1.4rem;
  color: var(--text-category);
  font-weight: 500;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
}
.comment__form-submit {
  margin-top: 2.5rem;
}
.comment__form-btn {
  width: 100%;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1.2rem 0;
  border-radius: 0.8rem;
  color: var(--white-color);
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.comment__form-btn:hover {
  color: var(--main-color);
  border: 2px solid var(--main-color);
  background-color: var(--white-color);
}

/* product_top */

.category__title,
.category__bot-title h2 {
  font-weight: 600;
}

.category__sub-title {
  font-size: 1.2rem;
  color: var(--main-color);
  margin-bottom: 8px;
}
.category__sub-title i {
  font-size: 1.1rem;
  letter-spacing: -3px;
}

.category__bot-title h2 {
  font-size: 3.5rem;
  text-transform: capitalize;
  color: var(--text-category);
}
.pruduct-top {
  margin-top: 10rem;
}
.product-top__section {
  margin-bottom: 100px;
}
.product-top__item {
  border-radius: 20px;
  border: 2px solid var(--main-color);
  overflow: hidden;
}
.product-top__link {
  padding: 20px 42px;
}
.product-top__top {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.product-top__top-type {
  background-color: #f2f7f3;
  color: var(--main-color);
  padding: 2px 8px;
  border-radius: 20px;
  font-weight: 500;
}
.product-top__top-off {
  background-color: #f14e18;
  color: var(--white-color);
  padding: 2px 8px;
  border-radius: 20px;
  font-weight: 500;
}
.product-top__mid {
  padding: 35px 0;
  overflow: hidden;
  transform: scale(1);
  min-width: 20rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s linear;
}

.product-top__mid img {
  min-width: 20rem;
  min-height: 15rem;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.product-top__item:hover .product-top__mid img {
  transform: translateY(-1.8rem);
  /* animation: scale 0.8s linear forwards; */
}

.product-top__text {
  margin-left: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #aeaeae;
}
.product-top__content {
  margin: 5px 0;
  padding-top: 8px;
}
.product-top__title {
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--text-title);
}
.product-top__price {
  font-size: 1.6rem;
  font-weight: 600;
}
.product-top__price-new {
  color: var(--main-color);
  margin-right: 4px;
}
.product-top__price-old {
  font-weight: 500;
  font-size: 1.3rem;

  color: #aeaeae;
  text-decoration: line-through;
}
