/* banner */

.banner__main {
  height: 85rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__sub-title h6 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--white-color);
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
}
.banner__title {
  font-size: 2rem;
  margin-top: 1.2rem;
}
.banner__title h1 {
  font-weight: 700;
  font-size: 6.2rem;
}
.text-first {
  font-weight: 500;
  display: block;
  margin-top: 1.2rem;
}

.text-effect span {
  text-transform: lowercase;
  font-weight: 700;
  color: var(--main-color);
  margin: 0 -9px;
  display: inline-block;
  opacity: 0;
  transform: rotateX(-90deg);
  position: relative;
  top: -10rem;
  animation: text-effect 2s ease-in-out infinite;
}
.text-effect span:nth-child(1) {
  text-transform: uppercase;
  animation-delay: 1.2s;
}
.text-effect span:nth-child(2) {
  animation-delay: 1.3s;
}
.text-effect span:nth-child(3) {
  animation-delay: 1.4s;
}
.text-effect span:nth-child(4) {
  animation-delay: 1.5s;
}
.text-effect span:nth-child(5) {
  animation-delay: 1.6s;
}
.text-effect span:nth-child(6) {
  animation-delay: 1.7s;
}
.text-effect span:nth-child(7) {
  animation-delay: 1.8s;
}
.text-effect span:nth-child(8) {
  animation-delay: 1.9s;
}
.text-effect span:nth-child(9) {
  animation-delay: 2s;
}
.text-effect span:nth-child(10) {
  animation-delay: 2.1s;
}
.banner__btn {
  margin-top: 4rem;
}

.banner__first {
  bottom: 3rem;
  left: 0;
  width: 55rem;
}

.banner__second {
  top: 2rem;
  right: -5rem;
}

/* category */
.category {
  padding: 10rem 0;
}
/*  */

.category__title,
.category__bot-title h2 {
  font-weight: 600;
}

.category__sub-title {
  font-size: 1.2rem;
  color: var(--main-color);
  margin-bottom: 8px;
  text-transform: uppercase;
}
.category__sub-title i {
  font-size: 1.1rem;
  letter-spacing: -3px;
}

.category__bot-title h2 {
  font-size: 3.5rem;
  text-transform: capitalize;
  color: var(--text-category);
}
/*  */
.category__item {
  width: 2.4rem;
  height: 12rem;
  overflow: hidden;
  border-radius: 8px;
  padding-right: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.category__item h6,
.category__item span {
  text-shadow: var(--primary-tshadow);
}

.category__link img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.8);
  overflow: hidden;
  border-radius: 8px;
  transition: all linear 0.3s;
}
.category__item:hover .category__link img {
  filter: brightness(0.5);
}

.category__item h6 {
  color: var(--white-color);
  font-size: 1.7rem;
  text-transform: capitalize;
  top: 31%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  text-shadow: 2px 3px 8px var(--black-color);
  width: 100%;
}
.category__item span {
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 8px;
}

.category__thumb-left {
  top: 20%;
  left: 0;
}

.category__thumb-right {
  top: 0;
  right: 0;
  width: 155px;
}

/* product_top */

.product-top__section {
  margin-bottom: 10rem;
}
.product-top__item {
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  overflow: hidden;
}
.product-top__link {
  padding: 2rem 42px;
}
.product-top__top {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.product-top__top-type {
  background-color: #f2f7f3;
  color: var(--main-color);
  padding: 2px 8px;
  border-radius: 2rem;
  font-weight: 500;
}
.product-top__top-off {
  background-color: #f14e18;
  color: var(--white-color);
  padding: 2px 8px;
  border-radius: 2rem;
  font-weight: 500;
}
.product-top__mid {
  padding: 3.5rem 0;
  overflow: hidden;
  transform: scale(1);
  min-width: 20rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s linear;
}
.product-top__mid img {
  min-width: 20rem;
  min-height: 15rem;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.product-top__item:hover .product-top__mid img {
  transform: translateY(-1.8rem);
  /* animation: scale 0.8s linear forwards; */
}

.product-top__text {
  margin-left: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #aeaeae;
}
.product-top__content {
  margin: 5px 0;
  padding-top: 8px;
}
.product-top__title {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--text-title);
}
.product-top__price {
  font-size: 1.6rem;
  font-weight: 600;
}
.product-top__price-new {
  color: var(--main-color);
  margin-right: 4px;
}
.product-top__price-old {
  font-weight: 500;
  font-size: 1.3rem;

  color: #aeaeae;
  text-decoration: line-through;
}

/* store */
.store {
  padding: 10rem 0;
}
.store__main {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85rem;
  padding: 0 12rem;
}

.store__content-desc {
  margin-top: 2.4rem;
  padding-right: 10rem;
}
.store__content-desc h4 {
  font-weight: 500;
  color: var(--text-desc);
  font-size: 1.6rem;
  line-height: 2;
}
.store__content-title h2 {
  text-transform: capitalize;
  font-size: 6rem;
  font-weight: 600;
}

.store__item {
  display: flex;
  align-items: center;
}
.store__item-link {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
}
.store__img {
  background-color: rgba(252, 252, 252, 0.5);
  padding: 2rem;
  border-radius: 50%;
}
.store__img img {
  width: 5rem;
  transition: opacity 0.2s linear;
}
.store__img img:hover {
  opacity: 0.7;
}
.store-item__text {
  padding-left: 1rem;
}
.store-item__text p {
  font-size: 1.7rem;
  margin-bottom: 0;
  color: var(--text-title);
  font-weight: 600;
  text-transform: capitalize;
}

/* featured */
.featured {
  padding: 0 0 10rem;
}
.featured__bot-title span {
  font-size: 3.2rem;
}
.featured__btn {
  padding: 1rem 2.5rem;
}

.featured__item {
  border-radius: 5px;
  border: 2px solid #e8ebee;
  padding: 1.5rem;
  overflow: hidden;
}
.featured__item:hover {
  transition: all 0.15s linear;
  border: 2px solid var(--main-color);
  cursor: pointer;
}
.featured__item-link {
  display: block;
  text-decoration: none;
  color: var(--white-color);
}
.featured__img {
  padding: 5rem 0;
  /* background-color: #f8f8f8; */
  height: 35rem;
}
.featured__img img {
  /* width: ; */
  min-height: 20rem;
  min-width: 20rem;
  object-fit: cover;
  object-position: center;
  max-width: 35rem;
  transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  padding: 1.6rem;
}
.featured__img img:hover {
  transform: scale(1.04);
}

.featured__thumb {
  bottom: -100px;
  right: 0;
}

/* ogranic */

.ogranic {
  margin: 15rem 0 10rem;
}

.ogranic__main {
  background-color: #f8f7f1;
  padding: 10rem 0;
}

.ogranic__item {
  border: 1px solid #e8ebee;
  padding: 1.3rem;
  border-radius: 1rem;
  transition: all 0.3s linear;
}
.ogranic__item:hover {
  border: 1px solid var(--main-color);
}
.ogranic__item-link {
  width: 100%;
}
.ogranic__img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  flex: 1;
  width: 18rem;
  height: 17rem;
  /* background-color: #f3f3f3; */
  /* border: 1px solid #f8f7f1; */
}
.ogranic__content {
  flex: 1;
}
.ogranic__img img {
  padding: 1.2rem;
  border-radius: 1rem;
}

.ogranic__thumb-left {
  bottom: 6rem;
  left: -3rem;
  width: 600px;
}

.ogranic__thumb-top {
  top: 0px;
  left: 28%;
  transform: translateY(-50%);
}
.ogranic__thumb-right {
  right: -2rem;
  bottom: -4rem;
}

/* <!-- comment --> */
.comment {
  padding: 2rem 0 0;
}

.comment__item {
  padding: 4.8rem 0px 0px 14rem;
}
.comment__img {
  flex: 1;
}
.comment__img div:first-child {
  border-radius: 50%;
}
.comment__img-avt {
  border-radius: 50%;
  min-width: 26rem;
  max-height: 26rem;
  object-fit: cover;
  object-position: center;
  /* flex: 1; */
}
.comment__content {
  flex: 3;
  margin-left: 5rem;
}
.comment__icon i {
  color: #ff6363;
  font-size: 3.5rem;
}

.comment__desc {
  font-size: 1.9rem;
  color: var(--text-desc);
  font-weight: 400;
  padding: 2.4rem 0;
}
.comment__name span:first-child {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--main-color);
  margin-right: 6px;
}
.comment__name span:last-child {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-desc);
}
.comment__thumb-left {
  z-index: -1;
  top: -5rem;
  left: -13rem;
}
.comment__thumb-right {
  z-index: -1;
  bottom: -14rem;
  right: -6rem;
}

/* blog */
.blog {
  padding: 10rem 0;
}

.blog__item {
  margin-right: 2rem;
}

.blog__content {
  padding: 1.5rem;
}
.blog__img {
  border-radius: 1rem;
}
.blog__img img {
  object-fit: cover;
  object-position: center;
  height: 30rem;
  border-radius: 1rem;
  transition: all 0.3s linear;
}
.blog__img img:hover {
  filter: brightness(0.8);
}
.blog__date {
  padding: 1.4rem 0 1.8rem;
  color: var(--text-desc);
  font-size: 1.4rem;
  text-transform: capitalize;
}
.blog__date i {
  margin-right: 4px;
  color: var(--main-color);
}

.blog__title {
  color: var(--text-title);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2;
  transition: all 0.3s linear;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 1.7rem;
}
.blog__title:hover {
  color: var(--main-color);
}
.blog__desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  color: var(--text-desc);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
}
